
<div class="section ribbon light-ribbon">
  <h2 class="center" id="create-form">
    Welcome
  </h2>
  <!--<form class="container s6">-->
    <!--<div class="row">-->
      <!--<div class="input-field col s12">-->
        <!--<input [(ngModel)]="new_bet.title" id="title"  type="text" name="title">-->
        <!--<label for="title">Title</label>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<div class="input-field col s12">-->
        <!--<input [(ngModel)]="new_bet.answer_a"  name="answer_a" type="text" class="validate ">-->
        <!--<label for="answer_a">Answer A:</label>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
      <!--<div class="input-field col s12">-->
        <!--<input [(ngModel)]="new_bet.answer_b"  name="answer_b" type="text" class="validate">-->
        <!--<label for="answer_b">Answer B:</label>-->
      <!--</div>-->
    <!--</div>-->

    <!--<input type="hidden" value="anonymous" name="username"/>-->

    <!--<div class="center">-->

      <!--<button  (click)="create_bet()" class="btn waves-effect  btn-large red darken-2" type="submit" name="action">Let's go-->
        <!--<i class="material-icons right">send</i>-->
      <!--</button>-->

    <!--</div>-->
  <!--</form>-->

</div>
